<div class="card" id="you">
  <p><%= @ask %></p>
  <p><em>-You</em></p>
</div>

<div class="card" id="coach">
  <p><%= @answer %></p>
  <p><em>-Your coach</em></p>
</div>

<%= link_to 'Ask a new question', ask_path %>
